* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.accordion {
  width: 400px;
  margin: 100px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  color: black;
  gap: 24px;
  cursor: pointer;
}

.items {
  display: flex;
  /* justify-content: center; */
  background-color: rgb(189, 198, 246);
  box-shadow: 0 0 30px rgb(72, 77, 121);
  /* position: absolute; */

  .number {
    /* position: relative; */
    margin-left: 10px;
    display: flex;
    /* align-content: center; */
    /* align-items: center; */
    margin-top: 25px;

    font-family: "Times New Roman", Times, serif;
    color: grey;
  }

  .icon {
    margin-left: 10px;
    display: flex;
    font-size: xx-large;
    font-weight: 800;
    margin-top: 25px;

    font-family: "Times New Roman", Times, serif;
    color: grey;
  }

  .name {
    margin-left: 50px;
    font-family: "Times New Roman", Times, serif;
  }
}

.content {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  margin-top: 60px;
  margin-left: -250px;
}

.btn-logout {
  margin-top: 20px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  font-size: large;
  background-color: rgb(46, 46, 77);
  color: whitesmoke;
  margin-left: 235px;
}
