* {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
body {
  /* background-color: rgb(144, 158, 238); */
  /* background-color: rgb(189, 198, 246); */
  background-image: linear-gradient(to right, #4c3217, #cdfbea);

  display: flex;
  justify-content: center;
}

.loginform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgb(189, 198, 246); */
  background-color: #bdb1a4;

  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 30px rgb(40, 41, 48);
  margin-top: 150px;
  /* .loginuser {
    margin-top: 10px;
    height: 30px;
    width: 200px;
  } */
  .btn {
    /* color: blue; */
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-size: large;
    background-color: rgb(46, 46, 77);
    color: whitesmoke;
  }
  h1 {
    font-family: cursive;
    color: rgb(2, 78, 70);
  }
}

.links {
  display: flex;
  width: 300px;

  justify-content: space-evenly;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* .link {
    
  } */
  .linkforget {
    color: red;
  }
}

.loginsuccess {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

.loginerror {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.signup {
  height: 400px;
  width: 400px;
  /* background-color: blue; */
  /* display: flex; */
  text-align: center;
  margin-top: 10px;
}

.signupform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(189, 198, 246);
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 30px rgb(72, 77, 121);
  .signupuser {
    margin-top: 10px;
    height: 30px;
    width: 200px;
  }
  .btn {
    /* color: blue; */
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-size: large;
    background-color: rgb(46, 46, 77);
    color: whitesmoke;
  }
  h1 {
    font-family: cursive;
    color: rgb(2, 78, 70);
  }
  .btnlogin {
    margin-top: 20px;
    margin-left: 300px;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    font-size: large;
    background-color: rgb(46, 46, 77);
    color: whitesmoke;
  }
}

.links {
  display: flex;
  width: 400px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  .linkforget {
    color: red;
  }
}

.signupsuccess {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

.signuperror {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.forget {
  height: 400px;
  width: 400px;
  /* background-color: blue; */
  /* display: flex; */
  text-align: center;
  margin-top: 100px;
}

.forgetform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(189, 198, 246);
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 30px rgb(72, 77, 121);
  .forgetuser {
    margin-top: 10px;
    height: 30px;
    width: 200px;
  }
  .btn {
    /* color: blue; */
    margin-top: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-size: large;
    background-color: rgb(46, 46, 77);
    color: whitesmoke;
    margin-bottom: 20px;
  }
  h1 {
    font-family: cursive;
    color: rgb(2, 78, 70);
  }
  /* .btnlogin {
    margin-top: 20px;
    margin-left: 300px;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    font-size: large;
    background-color: rgb(46, 46, 77);
    color: whitesmoke;
  } */
}

.ifreset {
  color: rgb(7, 32, 28);
  font-family: Arial, Helvetica, sans-serif;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  border-top: 6px solid #041927;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iferror {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.ifresetSuccess {
  color: rgb(5, 111, 42);
  font-family: Arial, Helvetica, sans-serif;
}

.accordion {
  width: 400px;
  margin: 100px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  color: black;
  gap: 24px;
  cursor: pointer;
}

.items {
  display: flex;
  /* justify-content: center; */
  background-color: rgb(189, 198, 246);
  box-shadow: 0 0 30px rgb(72, 77, 121);
  /* position: absolute; */

  .number {
    /* position: relative; */
    margin-left: 10px;
    display: flex;
    /* align-content: center; */
    /* align-items: center; */
    margin-top: 25px;

    font-family: "Times New Roman", Times, serif;
    color: grey;
  }

  .icon {
    margin-left: 10px;
    display: flex;
    font-size: xx-large;
    font-weight: 800;
    margin-top: 25px;

    font-family: "Times New Roman", Times, serif;
    color: grey;
  }

  .name {
    margin-left: 50px;
    font-family: "Times New Roman", Times, serif;
  }
}

.content {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  margin-top: 60px;
  margin-left: -250px;
}

.btn-logout {
  margin-top: 20px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  font-size: large;
  background-color: rgb(46, 46, 77);
  color: whitesmoke;

  margin-left: 235px;
}

.successredirect {
  color: #041927;
}

.Forgetuserform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(189, 198, 246);
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 30px rgb(72, 77, 121);

  .Forgetusername {
    margin-top: 10px;
    height: 30px;
    width: 200px;
  }
  .btn {
    /* color: blue; */
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-size: large;
    background-color: rgb(46, 46, 77);
    color: whitesmoke;
    margin-top: 20px;
  }
  h1 {
    font-family: cursive;
    color: rgb(2, 78, 70);
  }
}

.forget {
  height: 400px;
  width: 400px;
  /* background-color: blue; */
  /* display: flex; */
  text-align: center;
  margin-top: 100px;
}

.forgetSucces {
  color: rgb(5, 111, 42);
  font-family: Arial, Helvetica, sans-serif;
}

.forgeterror {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
